<!-- Page Content -->
  <div class="container bg-img">
      <!-- Jumbotron Header -->
      <header class="hero-spacer">
          <h1>KanbaNello</h1>
          <p>KanbaNello to praktyczny sposób na organizowanie jakichkolwiek spraw o czymkolwiek chcesz. Zrezygnuj z niekończących się wymian wiadomości e-mail, nieaktualnych arkuszy kalkulacyjnych, karteczek samoprzylepnych i nieporęcznego oprogramowania do zarządzania projektami.</p>
      </header>
      <div class="controls">
          <a ui-sref="login" class="button login">Zaloguj</a>
          <a ui-sref="signup" class="button signup">Zarejestruj</a>
      </div>
  </div>
